@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #1E1E1E;
    margin: 0;
    overflow: hidden;
}

.container{
    width: 320px;
    height: 427px;
    background-color: #FFEEC1;
    margin: 0 auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.container-header{
    display: flex;
    flex-direction: column;
}

.header-text{
    position: relative;
    margin: 0 auto;
    margin-top: 46.08px;
    font-weight: 600;
    font-size: 20.53px;
}

.header-title{
    position: relative;
    width: 202.37px;
    height: 28.68px;
    margin: 0 auto;
    margin-top: -5.8px;
    font-weight: 800;
    font-size: 27.92px;
}

.main-img1{
    position: relative;
    margin-top: 126px;
    margin-left: -40px;
    transition: transform 1s ease-in-out;
}
.main-img2{
    position: relative;
    margin-top: -457px;
    margin-left: -95px;
    transition: transform 1s ease-in-out;
}
.main-img3{
    position: relative;
    margin-top: -227px;
    margin-left: 98px;
    transition: transform 1s ease-in-out;
}
.main-img4{
    position: relative;
    margin-top: -79px;
    margin-left: 201px;
    transition: transform 1s ease-in-out;
}